/* Revolution Slider ---------------------------------------------------------*/
.elementor-widget-slider_revolution{
	.next-slider{
		@media(max-width: 1655px){
			.tp-leftarrow{
				@include transform(translate(30px, -25px) !important);
			}
			.tp-rightarrow{
				@include transform(translate(-30px, -25px) !important);
				right: 0 !important;
				left: auto !important;
			}
		}
		.tparrows{
			@include opacity-h();
			@include transition(all .2s ease);
		}
		&:hover{
			.tparrows{
				@include opacity-s();
			}
		}
		@media(max-width: $screen-md-max){
			.tparrows{
				@include opacity-s();
				@include square(40px !important);
				&:before{
					line-height: 40px !important;
				}
			}
			.tp-leftarrow{
				@include transform(translate(15px, -25px) !important);
			}
			.tp-rightarrow{
				@include transform(translate(-15px, -25px) !important);
				right: 0 !important;
				left: auto !important;
			}
		}
		@media(max-width: $screen-md-max){
			.tp-bullets{
				@include transform(translate(15px, -50px) !important);
			}
		}
	}
	.next-slider2{
		@media(max-width: 1655px){
			.tp-bullets{
				transform: translate(-50%, 0%) translate(-50px, -50px) !important;
			}
		}
		@media(max-width: $screen-md-max){
			.tp-bullets{
				transform: translate(-50%, 0%) translate(0, -50px) !important;
			}
		}
	}
	.next-slider3{
		@media(max-width: 1655px){
			.tp-bullets{
				transform: translate(-50%, 0%) translate(-50px, -50px) !important;
			}
		}
		@media(max-width: $screen-md-max){
			.tp-bullets{
				transform: translate(-50%, 0%) translate(30px, -50px) !important;
			}
		}
	}
	.button-slider{
		@media(max-width: $screen-xs-max){
			@include rtl-padding(0, 24px, 0, 24px !important);
			line-height: 40px !important;
			font-size:calc(var(--font-size-body,14px) + 2px) !important;
		}
	}
	.button-border{
		@media(max-width: $screen-xs-max){
			padding-bottom: 3px !important;
			font-size:calc(var(--font-size-body,14px) + 2px) !important;
		}
		&:before, &:after{
			content: "";
			position: absolute;
			left: 0;
			height: 2px;
			background-color: var(--gray-dark, $gray-dark);
			-webkit-transform-origin: right;
			transform-origin: right;
			-webkit-transform: scaleX(1) translateZ(0);
			transform: scaleX(1) translateZ(0);
			@include transition(transform .6s cubic-bezier(.165,.84,.44,1) .3s);
			bottom: 0;
			width: 100%;
		}
		&:after{
			-webkit-transform-origin: left;
			transform-origin: left; 
			-webkit-transform: scaleX(0) translateZ(0);
			transform: scaleX(0) translateZ(0);
			@include transition(transform .6s cubic-bezier(.165,.84,.44,1));
		}
		&:hover{
			&:before{
				-webkit-transform: scaleX(0) translateZ(0);
				transform: scaleX(0) translateZ(0);
				@include transition(transform .6s cubic-bezier(.165,.84,.44,1));
			}
			&:after{
				-webkit-transform: scaleX(1) translateZ(0);
				transform: scaleX(1) translateZ(0);
				@include transition(transform .6s cubic-bezier(.165,.84,.44,1) .3s);
			}
		}
	}
	.custom-title{
		color: transparent !important;
		-webkit-text-stroke: 1px var(--gray-dark,$gray-dark);

	}
}



